.photopile-wrapper { width: 900px; margin: 50px auto; padding: 50px;}
ul.photopile li a img { border: 0 none;}
.logo {
    padding:0;
}
.logo img{
    margin-top: -20px;
    width: 240px;
}
#navbar{
    padding-top: 20px;
    margin-bottom: 0;
}
#navbar .container{
    padding: 0;
}
.navbar-header{
    height: 60px;
}
.navbar-nav{
    margin-top: 0;
}
#main-nav a{
    font-weight: bold;
    border-radius: 10px;
}
@media (min-width: 768px) {

    #main-nav>ul>li{
        width: 100px;
        font-size: 12px;
    }

}
@media (min-width: 992px) {
    #main-nav>ul>li{
        width: 130px;
        font-size: 15px;
    }

}
@media (min-width: 1200px) {
    #main-nav>ul>li{
        width: 160px;
        font-size: 18px;
    }
}
.imgwidth{
    width:370px;
    height:250px;
    margin-top: 15px;
    overflow: hidden;
}
.hoverimg{
    width:350px;
    height:250px;
    position: absolute;
    opacity: 0.2;
    background-color: deepskyblue;
}
.imgsmall{
    width:350px;
    height:250px;
    position: relative;
}
.imgwidth:hover .hoverimg{
    position: absolute;
    top:0;
}
.imgCircle1{
    border-radius: 50px 50px;
}
.chang1{
    transition:1s;
}
.chang1:hover{
    box-shadow:0 0 50px gray;
    transform: scale(1.1,1.1);
}

@media (max-width: 1200px) {
    .txt1{
        font-size: 25px;
    }
    .hoverimg{
        width:250px;
        height:250px;
        position: absolute;
        opacity: 0.2;
        background-color: deepskyblue;
    }
    .imgsmall{
        width:250px;
        height:250px;
        position: relative;
    }
    .txt2{
        font-size: 16px;
    }
    .btomimg{
        width:50px;
        height:50px;
    }
   .btomtxt{
       width:200px;
   }
    .chang2{
        width:300px;
    }

}